* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: 16px;
     font-family: 'Quicksand', sans-serif;
     list-style-type: none;
     text-decoration: none;
     scroll-behavior: smooth;
     font-weight: 300;
}


#app {
     scroll-behavior: smooth;
     background-color: #F3F3F3;
}

               /* HEADER */

header {
     background-color: #f3f3f3;
     height: 90px;
     padding: 0 8%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 100;
     box-shadow: -5px 5px 10px rgba(219, 219, 219, 0.2),
                  5px -5px 10px rgba(219, 219, 219, 0.2), 
                  -5px -5px 10px rgba(255, 255, 255, 0.9), 
                  5px 5px 13px rgba(219, 219, 219, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(219, 219, 219, 0.5);
}

header .logo {
     width: 75px;
     height: 75px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     box-shadow: -1px 1px 2px rgba(183, 183, 183, 0.2),
                  1px -1px 2px rgba(183, 183, 183, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(183, 183, 183, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(183, 183, 183, 0.5);
     transition: box-shadow 0.5s linear;
}

header .logo:hover {
     box-shadow:  20px 20px 60px #cfcfcf,
                 -20px -20px 60px #ffffff;
}

header div img {
     width: 100%;
     height: auto;
     border-radius: 50%;
}

header ul {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

header ul li {
     padding: 5px 20px;
     margin-left: 25px;
     border-radius: 30px;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                  1px -1px 2px rgba(173, 173, 173, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(173, 173, 173, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(173, 173, 173, 0.5);
}

header ul li:active {
     box-shadow: inset 5px 5px 10px #cfcfcf,
            inset -5px -5px 10px #ffffff;
}

header ul .hamburger {
     display: none;
}

header ul .hamburger button {
     width: 75px;
     height: 75px;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     border: 0;
     background-color: #f3f3f3;
     box-shadow: -1px 1px 2px rgba(183, 183, 183, 0.2),
                  1px -1px 2px rgba(183, 183, 183, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(183, 183, 183, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(183, 183, 183, 0.5);
     transition: box-shadow 0.5s linear;
}

header ul .hamburger button div {
     width: 35px;
     height: 3px;
     background-color: #25385F;
     border-radius: 10px;
     margin: 5px 0;
     transition: transform 0.5s linear;
}

header ul li a {
     color:#25385F;
}

header .line1 {
     transform: translateY(12px) rotate(135deg);
}

header .line2 {
     transform: translateY(-1px) rotate(-135deg);
}

header .line3 {
     transform: scale(0);
}

header ul .hamburger button.pressed {
     box-shadow: inset 5px 5px 10px #cfcfcf,
                 inset -5px -5px 10px #ffffff;
}

header ul:last-child {
     height: 0;
     position: absolute;
     visibility: hidden;
     transition: height 0.5s linear;
     flex-wrap: wrap;
}

header ul.dropdown li {
     background-color: #f3f3f3;
     flex-basis: 129px;
}


               /* MAIN */

main {
     margin-top: 90px;
}

.hello  {
     height: calc(100vh - 90px);
     display: flex;
     justify-content: center;
     align-items: center;
}

@keyframes opacity {
     0%   {opacity: 1;}
     25%  {opacity: 0.7}
     50%  {opacity: 0.5;}
     75%  {opacity: 0.7}
     100%  {opacity: 1;}
}

.hello h1 {
     font-size: 144px;
     color: #f3f3f3;
     text-shadow: -1px 1px 2px rgba(190, 190, 190, 0.2),
                   1px -1px 2px rgba(190, 190, 190, 0.2), 
                   -1px -1px 2px rgba(255, 255, 255, 0.9), 
                   1px 1px 3px rgba(190, 190, 190, 0.9);
     animation: opacity 2s linear infinite;
}

#about-me {
     padding: 10% 8% 0 8%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: #25385F;
}

#about-me .me {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #25385F;
     font-weight: 300;
}

#about-me .me div:first-child {
     width: 75px;
     height: 75px;
     margin-right: 50px;
     
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     box-shadow: -1px 1px 2px rgba(183, 183, 183, 0.2),
                  1px -1px 2px rgba(183, 183, 183, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(183, 183, 183, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(183, 183, 183, 0.5);
     transition: box-shadow 0.5s linear;
}

#about-me .me div:last-child {
     padding: 5px 20px;
     border-radius: 30px;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                  1px -1px 2px rgba(173, 173, 173, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(173, 173, 173, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(173, 173, 173, 0.5);
}
#about-me .me div:last-child h2 {
     font-size: 20px;
}

#about-me h1 {
     font-family: 'Fredoka One', cursive;
     width: 994px;
     font-weight: 300;
     font-size: 120px;
     margin-top: 30px;
     color: #25385F;
     text-align: center;
}
#about-me h1 span {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #ffc254;
}

#about-me p {
     width: 880px;
     line-height: 50px;
     margin-top: 50px;
     font-size: 20px;
}

#what-love {
     padding: 10% 16% 0 16%;
     display: grid;
     grid-template-columns: 385px 1fr;
     grid-template-rows: calc(673px / 2) calc(673px / 2);
     grid-template-areas: 
               'lovetext loveimage'
               'lovebadge loveimage';
}

#what-love .love-text {
     grid-area: lovetext;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

#what-love .love-text h2 {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     width: 500px;
     color: #25385F;
     line-height: 109px;
     word-spacing: 5px;
}

#what-love .love-text h2 span {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #ffc254;
}

#what-love .love-image {
     grid-area: loveimage;
     text-align: right;
}

#what-love .love-image img {
    
}

#what-love .love-badge {
     grid-area: lovebadge;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}

#what-love .love-badge  div {
     padding: 5px 20px;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                  1px -1px 2px rgba(173, 173, 173, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(173, 173, 173, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(173, 173, 173, 0.5);
     transition: transform 0.2s linear;
}

#what-love .love-badge > div:hover {
     transform: scale(1.5);
}

#what-love .love-badge > div {
     width: 270px;
     display:flex;
     justify-content: space-between;
     margin: 50px 0;
}

#what-love .love-badge div div:first-child {
     width: 53px;
     height: 53px;
     border-radius: 50%;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                  1px -1px 2px rgba(173, 173, 173, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(173, 173, 173, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(173, 173, 173, 0.5);
}

#what-love .love-badge div div:first-child div {
     width: 42px;
     height: 42px;
     background-color: #ffc254;
     animation: opacitylove 3s linear infinite;
}

@keyframes opacitylove {
     0% {opacity: 1;}
     50% {opacity: 0.7;}
     100% {opacity: 1;}
}

#what-love .love-badge div div:last-child {
     width: 167px;
     padding: 5px 20px;
     border-radius: 30px;
     color: #25385F;
     box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), 
                -1px -1px 2px rgba(173, 173, 173, 0.5), 
                inset -1px 1px 2px rgba(173, 173, 173, 0.2), 
                inset 1px -1px 2px rgba(173, 173, 173, 0.2), 
                inset -1px -1px 2px rgba(255, 255, 255, 0.9), 
                inset 1px 1px 3px rgba(173, 173, 173, 0.9);
}

/* #what-love .love-badge div div:last-child h2{
    font-size: 20px;
} */

#softskills {
     padding: 10% 16% 0 16%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 400px 200px 1fr;
     grid-template-areas: 
               "softskillstext softskillsimage"
               "softskillsbadge softskillsbadge"
               "softskillsparagraph softskillsparagraph";
}

#softskills .softskills-text {
     grid-area: softskillstext;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}

#softskills .softskills-text h2 {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #25385F;
     line-height: 109px;
     word-spacing: 5px;
     text-align: center;
}

#softskills .softskills-text h2:last-child {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #ffc254;
     margin-top: 50px;
}

#softskills .softskills-image {
     grid-area: softskillsimage;
     text-align: right;
}

#softskills .softskills-image img {
     min-height: 100%;
}

#softskills .softskills-badge {
     grid-area: softskillsbadge;
     padding: 0 5%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#softskills .softskills-badge li {
     padding: 15px 50px;
     border-radius: 30px;
     cursor: pointer;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                  1px -1px 2px rgba(173, 173, 173, 0.2), 
                  -1px -1px 2px rgba(255, 255, 255, 0.9), 
                  1px 1px 3px rgba(173, 173, 173, 0.9), 
                  inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                  inset -1px -1px 2px rgba(173, 173, 173, 0.5);
     transition: all 0.5s linear;
}

#softskills .softskills-badge li.softskillActive {
     box-shadow: inset 5px 5px 10px #cfcfcf,
                 inset -5px -5px 10px #ffffff;
}

#softskills .softskills-badge li h3 {
     font-size: 20px;
     color: #25385F;
     text-transform: capitalize;
}

#softskills .softskills-paragraph {
     grid-area: softskillsparagraph;
     display:flex;
     justify-content: center;
     align-items: center;
}

#softskills .softskills-paragraph p {
     width: 880px;
     line-height: 50px;
     margin-top: 50px;
     font-size: 20px; 
     color: #25385F;   
}

#skills {
     padding: 10% 16% 0 16%;
     display: grid;
     grid-template-columns: 1fr 1fr 450px;
     /* 438px */
     grid-template-rows: 450px auto;
     grid-template-areas: 
               " skillsText skillsImage skillsBadge1 "
               " skillsBadge2 skillsBadge2 skillsBadge2 ";
}

#skills .skills-text {
     grid-area: skillsText;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
}

#skills .skills-text h2 {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #25385F;
     line-height: 109px;
     word-spacing: 5px;
     text-align: center;
}

#skills .skills-text h2:last-child {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #ffc254;
     margin-top: 50px;
     }

#skills .skills-image {
     grid-area: skillsImage;

}

#skills .white-space {
     grid-area: whiteSpace;
}

#skills .skills-badge1 {
     grid-area: skillsBadge1;
;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
}

#skills .skills-badge1 li {
     flex-basis: 179px;
     padding: 20px;
     background: #F3F3F3;
     border-radius: 30px;
     text-align: center;
     margin: 20px;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                 1px -1px 2px rgba(173, 173, 173, 0.2), 
                 -1px -1px 2px rgba(255, 255, 255, 0.9), 
                 1px 1px 3px rgba(173, 173, 173, 0.9), 
                 inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                 inset -1px -1px 2px rgba(173, 173, 173, 0.5);
     transition: box-shadow 0.5s linear;
}

#skills .skills-badge1 li:hover {
     box-shadow:  20px 20px 60px #cfcfcf,
             -20px -20px 60px #ffffff;
}

#skills .skills-badge1 li h3 {
     font-size: 20px;
     margin-bottom: 30px;
     text-transform: capitalize;
}

#skills .skills-badge1 li img {
     height: 80px;
     width: auto;
}

#skills .skills-badge2 {
     grid-area: skillsBadge2;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#skills .skills-badge2 li {
     flex-basis: 179px;
     padding: 20px;
     background: #F3F3F3;
     border-radius: 30px;
     text-align: center;
     margin: 20px;
     box-shadow: -1px 1px 2px rgba(173, 173, 173, 0.2), 
                 1px -1px 2px rgba(173, 173, 173, 0.2), 
                 -1px -1px 2px rgba(255, 255, 255, 0.9), 
                 1px 1px 3px rgba(173, 173, 173, 0.9), 
                 inset 1px 1px 2px rgba(255, 255, 255, 0.3), 
                 inset -1px -1px 2px rgba(173, 173, 173, 0.5);
     transition: box-shadow 0.5s linear;
}

#skills .skills-badge2 li:hover {
     box-shadow:  20px 20px 60px #cfcfcf,
             -20px -20px 60px #ffffff;
}

#skills .skills-badge2 li h3 {
     font-size: 20px;
     margin-bottom: 30px;
     text-transform: capitalize;
}

#skills .skills-badge2 li img {
     height: 80px;
     width: auto;
}

#works {
     padding: 10% 16% 0 16%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 446px auto;
     grid-template-areas: 
               "worksText worksImage"
               "worksBadge worksBadge";
}

#works .works-text {
     grid-area: worksText;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}

#works .works-text h2 {
     font-family: 'Fredoka One', cursive;
     font-size: 120px;
     color: #25385F;
     line-height: 109px;
     word-spacing: 5px;
}

#works .works-text h2:last-child {
     font-size: 120px;
     margin-top: 50px;
     color: #ffc254;
}

#works .works-image {
     grid-area: worksImage;
}

#works .works-image img {
     height: 516px;
}

#works .works-badge {
     grid-area: worksBadge;
     position:relative;
}

#works .works-badge > img {
     width: 100px;
     height: auto;
     position: absolute;
     top: 50%;
     left: -9%;
     opacity: 0.2;
     animation: opacity 3s linear infinite;
}

#works .works-badge ul {
     /* padding: 0 10%; */
     display: flex;
     justify-content: flex-start;
     align-items: center;
     overflow: auto;
}

#works .works-badge ul li {
     padding: 50px;
     background: #F3F3F3;
     border-radius: 30px;
     text-align: center;
     margin-right: 100px;
     box-shadow: inset 5px 5px 10px #cfcfcf,
                 inset -5px -5px 10px #ffffff;
}    

#works .works-badge ul li img {
     width: 900px;
     height: auto;
     border-radius: 30px;
     transition: transform 0.2s linear;
}

footer {
     padding: 10% 8% 0 8%;
}







@media (max-width: 1200px) AND (min-width: 998px) {
     #about-me {
          align-items: center;
     }

     #about-me h1 {
          text-align: left;
     }

     #what-love .love-text h2 {
          text-align: left;
     }

     #what-love .love-image {
          text-align: right;
     }

     #what-love {
          padding: 10% 8% 0 8%;
          grid-template-columns: 385px 1fr;
     }

     #what-love .love-badge {
          align-items: flex-start;
     }

     #what-love .love-badge > div {
          margin: 30px 0;
     }

     #softskills {
          padding: 10% 8% 0 8%;
     }

     #softskills .softskills-text {
          align-items: flex-start;
          }

     #softskills .softskills-image img {
          min-height: 80%;
     }

     #skills {
          padding: 10% 8% 0 8%;
          grid-template-columns:  340px 144px 438px;
          /* 438px */
          grid-template-rows: 450px auto;
          grid-template-areas: 
                    " skillsText skillsImage skillsBadge1 "
                    " skillsBadge2 skillsBadge2 skillsBadge2 ";
     }

     #skills .skills-image img {
          width: 144px;
     }

     #skills .skills-text {
          align-items: flex-start;
     }

     #skills .skills-badge2 li:last-child {
          height: 179px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }  

     #skills .skills-badge2 li:last-child img {
          height: 54px;
          width: auto;
          
     }

     #works {
          padding: 10% 8% 0 8%;
     }

     #works .works-text h2 {
          text-align: left;
     }

     #works .works-image img {
          height: 435px;
          }

     #works .works-badge > img {
          width: 80px;
     }

     #works .works-badge ul li img {
          width: 700px;
     }

}

@media (max-width: 998px) AND (min-width: 768px) {

     header ul li {
          display: none;
     }

     header ul .hamburger {
          display: block;
          box-shadow: none;
     }

     header ul.dropdown {
          visibility: visible;
          position: absolute;
          top: 90px;
          left: 0;
          width: 100%;
          height: 50vh;
          justify-content: center;
          margin: 0;
          padding: 0 8%;
          transition: height 1s linear;
     
     }

     header ul.dropdown li {
          display: block;
          transition: transform 0.2s linear;
     }

     header ul.dropdown li:hover {
          transform: scale(1.5);
     }

     header ul.dropdown li a {
          font-size: 20px;
     }

     header ul .hamburger:active {
          box-shadow: none;
     }

     #about-me h1 {
          width: 614px;
          font-size: 60px;
          text-align: center;
     }

     #about-me h1 span {
          font-size: 96px;
     }

     #about-me p {
          width: 100%;
     }

     #what-love {
          padding: 10% 8% 0 8%;
          grid-template-columns: 225px 1fr;
     }

     #what-love .love-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #what-love .love-text h2 span {
          font-size: 96px;;
          }

     #what-love .love-image {
          text-align: right;
     }

     #what-love .love-image img {
          width: 423px;
          height: auto;
          }

     #what-love .love-badge {
          align-items: flex-start;
     }

     #what-love .love-badge > div {
          margin: 15px 0;
     }

     #softskills {
          padding: 10% 8% 0 8%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 320px 200px 1fr;
          grid-template-areas: 
                    "softskillstext softskillsimage"
                    "softskillsbadge softskillsbadge"
                    "softskillsparagraph softskillsparagraph";
     }

     #softskills .softskills-text h2 {
          text-align: left;
          font-size: 60px;
          width: 100%;
     }

     #softskills .softskills-text h2:last-child {
         font-size: 80px;
         margin-top: 0
     }

     #softskills .softskills-image img {
          min-height: 80%;
     }

     #skills {
          padding: 10% 8% 0 8%;
          grid-template-columns:  1fr 1fr;
          /* 438px */
          grid-template-rows: 450px auto auto;
          grid-template-areas: 
                    " skillsText skillsImage "
                    "skillsBadge1 skillsBadge1"
                    " skillsBadge2 skillsBadge2 ";
     }

     #skills .skills-text {
          align-items: flex-start;
          justify-content: center;
     }

     #skills .skills-text h2 {
          font-size: 60px;
     }

     #skills .skills-text h2:last-child {
          font-size: 96px;
          margin-top: 0;
     }

     #skills .skills-image {
          text-align: right;
     }

     #skills .skills-badge1 {
          justify-content: center;
          }

     #skills .skills-badge1 li {
          flex-basis: 150px;
          margin: 5px;
     }

     #skills .skills-badge2 {
          flex-wrap: wrap;
          justify-content: center;
     }

     #skills .skills-badge2 li {
          flex-basis: 150px;
          margin: 5px;
     }

     #skills .skills-badge2 li:last-child {
          height: 179px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }  

     #skills .skills-badge2 li:last-child img {
          height: 54px;
          width: auto;
          
     }

     #works {
          padding: 10% 8% 0 8%;
          grid-template-columns: 300px 1fr;
          grid-template-rows: 446px auto;
          grid-template-areas: "worksText worksImage"
          "worksBadge worksBadge";
     }

     #works .works-text {
          justify-content: flex-start;
          }

     #works .works-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #works .works-text h2:last-child {
          text-align: left;
          font-size: 96px;
          margin-top: 0;
     }

     #works .works-image img {
          width:100%;
          height: auto;
          }

     #works .works-badge > img {
          width: 80px;
     }

     #works .works-badge ul li img {
          width: 700px;
     }

}

@media (max-width: 768px) AND (min-width: 501px) {

     header ul li {
          display: none;
     }

     header ul .hamburger {
          display: block;
          box-shadow: none;
     }

     header ul.dropdown {
          visibility: visible;
          position: absolute;
          top: 90px;
          left: 0;
          width: 100%;
          height: 50vh;
          justify-content: center;
          margin: 0;
          padding: 0 8%;
          transition: height 1s linear;
     
     }

     header ul.dropdown li {
          display: block;
          transition: transform 0.2s linear;
     }

     header ul.dropdown li:hover {
          transform: scale(1.5);
     }

     header ul.dropdown li a {
          font-size: 20px;
     }

     header ul .hamburger:active {
          box-shadow: none;
     }

     #about-me {
          padding: 10% 5% 0 5%;
          align-items: flex-start;
     }

     #about-me h1 {
          width: 500px;
          font-size: 60px;
          text-align: left;
     }
     
     #about-me h1 span {
          font-size: 96px;
     }

     #about-me p {
          width: 100%;
     }

     #what-love {
          padding: 10% 5% 0 5%;
          align-items: flex-start;
          grid-template-columns: 225px 1fr;
          grid-template-rows: 320px 1fr;
          grid-template-areas: 
               'lovetext loveimage'
               'lovebadge lovebadge';
     }

     #what-love .love-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #what-love .love-text h2 span {
          font-size: 96px;
          }

     #what-love .love-image {
          text-align: right;
     }

     #what-love .love-image img {
          width: 250px;
          height: auto;
     }

     #what-love .love-badge {
          align-items: center;
     }

     #what-love .love-badge > div {
          margin: 15px 0;
     }

     #softskills {
          padding: 10% 5% 0 5%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 180px auto 1fr;
          grid-template-areas: 
                    "softskillstext softskillsimage"
                    "softskillsbadge softskillsbadge"
                    "softskillsparagraph softskillsparagraph";
     }

     #softskills .softskills-text h2 {
          text-align: left;
          font-size: 60px;
          width: 100%;
     }

     #softskills .softskills-text h2:last-child {
         font-size: 80px;
         margin-top: 0
     }

     #softskills .softskills-image img {
          width: 193px;
     }

     #softskills .softskills-badge {
          flex-direction: column;
          margin-top: 50px;
     }

     #softskills .softskills-badge li {
          width: 244px;
          text-align: center;
          margin: 30px 0;
     }

     #softskills .softskills-paragraph p {
          width:100%;
     }

     #skills {
          padding: 10% 5% 0 5%;
          grid-template-columns:  1fr 1fr;
          /* 438px */
          grid-template-rows: 350px auto auto;
          grid-template-areas: 
                    " skillsText skillsImage "
                    "skillsBadge1 skillsBadge1"
                    " skillsBadge2 skillsBadge2 ";
     }

     #skills .skills-text {
          align-items: flex-start;
          /* justify-content: center; */
     }

     #skills .skills-text h2 {
          font-size: 60px;
     }

     #skills .skills-text h2:last-child {
          font-size: 96px;
          margin-top: 0;
     }

     #skills .skills-image {
          text-align: right;
     }

     #skills .skills-image img {
          width: 50%;
          height: auto;
     }

     #skills .skills-badge1 {
          justify-content: center;
     }

     #skills .skills-badge1 li {
          flex-basis: 150px;
          margin: 5px;
     }

     #skills .skills-badge2 {
          flex-wrap: wrap;
          justify-content: center;
     }

     #skills .skills-badge2 li {
          flex-basis: 150px;
          margin: 5px;
     }

     #skills .skills-badge2 li:last-child {
          height: 179px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }  

     #skills .skills-badge2 li:last-child img {
          height: 54px;
          width: auto;
          
     }

     #works {
          padding: 10% 5% 0 5%;
          grid-template-rows: 300px auto;
     }

     #works .works-text {
          justify-content: flex-start;
     }

     #works .works-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #works .works-text h2:last-child {
          text-align: left;
          font-size: 96px;
          margin-top: 0;
     }

     #works .works-image {
          text-align: right;
     }

     #works .works-image img {
          height: 221px;
          }

     #works .works-badge > img {
          display: none;
     }

     #works .works-badge ul li img {
          width: 400px;
          transition: transform 0.2s linear;
     }

     #works .works-badge ul li img:hover {
          transform: scale(1.5);
     }

}

@media screen and (max-width: 500px) {

     header ul li {
          display: none;
     }

     header ul .hamburger {
          display: block;
          box-shadow: none;
     }

     header ul.dropdown {
          visibility: visible;
          position: absolute;
          top: 90px;
          left: 0;
          width: 100%;
          height: 50vh;
          justify-content: center;
          margin: 0;
          padding: 0 8%;
          transition: height 1s linear;
     
     }

     header ul.dropdown li {
          display: block;
          transition: transform 0.2s linear;
     }

     header ul.dropdown li:hover {
          transform: scale(1.5);
     }

     header ul.dropdown li a {
          font-size: 20px;
     }

     header ul .hamburger:active {
          box-shadow: none;
     }

     #about-me {
          padding: 10% 5% 0 5%;
          align-items: flex-start;
     }

     #about-me .me {
          width: 100%;
     }

     #about-me h1 {
          width: 100%;
          font-size: 60px;
          text-align: left;
     }

     #about-me h1 span:first-child {
          font-size: 65px;
     }
     
     #about-me h1 span:last-child {
          font-size: 65px;
     }

     #about-me p {
          width: 100%;
     }

     #what-love {
          padding: 10% 5% 0 5%;
          align-items: flex-start;
          grid-template-columns: 196px 1fr;
          grid-template-rows: 232px 1fr;
          grid-template-areas: 
          'lovetext loveimage'
          'lovebadge lovebadge';
     }

     #what-love .love-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #what-love .love-text h2 span {
          font-size: 65px;
          }

     #what-love .love-image {
          text-align: left;
     }

     #what-love .love-image img {
          width: 136px;
          height: auto;
          }

     #what-love .love-badge {
          align-items: center;
     }

     #what-love .love-badge > div {
          margin: 15px 0;
     }

     #what-love .love-badge > div:hover {
          transform: scale(1.2);
          }

     #softskills {
          padding: 10% 5% 0 5%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 180px 180px auto 1fr;
          grid-template-areas: 
                    "softskillstext softskillstext"
                    "softskillsimage softskillsimage"
                    "softskillsbadge softskillsbadge"
                    "softskillsparagraph softskillsparagraph";
     }

     #softskills .softskills-text h2 {
          text-align: left;
          font-size: 60px;
          width: 100%;
     }

     #softskills .softskills-text h2:last-child {
         font-size: 65px;
         margin-top: 0;

     }

     #softskills .softskills-image {
          margin-top: 30px;
     }

     #softskills .softskills-image img {
          width:200px;
     }

     #softskills .softskills-badge {
          flex-direction: column;
          margin-top: 50px;
     }

     #softskills .softskills-badge li {
          width: 244px;
          text-align: center;
          margin: 30px 0;
     }

     #skills {
          padding: 10% 5% 0 5%;
          grid-template-columns:  1fr 1fr;
          /* 438px */
          grid-template-rows: 300px auto auto;
          gap: 5px;
          grid-template-areas: 
                    " skillsText skillsImage "
                    "skillsBadge1 skillsBadge1"
                    " skillsBadge2 skillsBadge2 ";
     }

     #skills .skills-text {
          align-items: flex-start;
     }

     #skills .skills-text h2 {
          font-size: 60px;
     }

     #skills .skills-text h2:last-child {
          font-size: 65px;
          margin-top: 0;
     }

     #skills .skills-image img {
          max-width:139px;
     }

     #skills .skills-badge1 {
          grid-area: skillsBadge1;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
     }

     #skills .skills-badge1 li,
     #skills .skills-badge2 li {
          margin: 20px;
     }

     #skills .skills-badge2 {
          flex-wrap: wrap;
          justify-content: center;
     }

     #skills .skills-badge2 li:last-child {
          height: 179px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }  

     #skills .skills-badge2 li:last-child img {
          height: 54px;
          width: auto;    
     }

     #works {
          padding: 10% 5% 0 5%;
          grid-template-rows: 300px auto;
     }

     #works .works-text {
          justify-content: flex-start;
          align-items: flex-start;
          }

     #works .works-text h2 {
          text-align: left;
          font-size: 60px;
     }

     #works .works-text h2:last-child {
          text-align: left;
          font-size: 65px;
          margin-top: 0;
     }

     #works .works-image img {
          height: 138px;
          }

     #works .works-badge > img {
          display: none;
     }

     #works .works-badge ul li img {
          width: 400px;
          transition: transform 0.2s linear;
     }

     #works .works-badge ul li img:hover {
          transform: scale(1.5);
     }
}