* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: 16px;
     font-family: 'Quicksand', sans-serif;
     list-style-type: none;
     text-decoration: none;
}

#app {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 89px auto;
     grid-template-areas: 
               'header'
               'main';
}

header {
     grid-area: header;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 10%;
     background-color: white;
     box-shadow: 0 2px 4px rgba(0,0,0,.1);
     /* border: 1px solid #e4e4e4; */
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 100;
}

header img {
     width: 100px;
     height: auto;
}

header ul {
     flex-basis: 50%;
     display: flex;
     justify-content: space-between;
}

@keyframes scalee {
     0%   {transform:scale(1);}
     50%  {transform: scale(1.1);}
     100%  {transform: scale(1);}
}

@keyframes opacity {
     0%   {opacity:0.1;}
     25%  {opacity: 0.3}
     50%  {opacity: 0.5;}
     75%  {opacity: 0.3}
     100%  {opacity: 0.1;}
}

header ul li::after {
     content: '';
     display: block;
     width: 0;
     height: 0;
     border: 1px solid transparent;
     transition: width 0.2s linear;
     margin-top: 2px;
}

header ul li::before {
     content: '';
     display: block;
     width: 0;
     height: 0;
     border: 1px solid transparent;
     transition: width 0.2s linear;
}

header ul li:hover::after,
header ul li:hover::before {
     width: 100%;
     border-color: black;
}

header ul li a{
     color: black;
}

main {
     grid-area: main;
     /* background-color: #ff6961; */
     display: grid;
     grid-template-rows: calc(100vh - 89px) 100vh auto;
     grid-template-areas: 
          'hello'
          'alessandro'
          'aboutMe';
}

main .hello {
     grid-area: hello;
     background-image: url(../img/hello.jpg);
     background-repeat: no-repeat;
     background-position: 50% 100%;
     background-size: contain;
     opacity: 0.1;
     height: calc(100vh - 89px);
     background-attachment: fixed;
     animation: opacity 2.5s linear infinite;
}

main .alessandro {
     background-color: #f88d87;
     display: flex;
     justify-content: center;
     align-items: center;
}

.alessandro div {
   text-align: center;
     padding: 0 8%;
}

.alessandro div h1 {
     /* font-family: 'Baloo 2', cursive; */
     font-size: 2rem;
     font-weight: 300;
     text-shadow: 2px 2px 8px #FF0000;
}

.alessandro div h2 {
     font-family: 'Baloo 2', cursive;
     font-weight:800;
     font-size: 4rem;
     color: white;
     text-shadow: 2px 2px 8px #FF0000;
}

main .aboutMe {
     grid-area: aboutMe;
     padding: 10% 8%;
     text-align: center;
}

.aboutMe h1 {
     font-family: 'Baloo 2',cursive;
     font-size: 4rem;
     text-shadow: 2px 2px 8px grey;
}

.aboutMe h1:hover {
     animation: scalee 1.5s infinite;
}

.aboutMe div {
     text-align: left;
}

.aboutMe p {
     font-size: 1.5rem;
     margin: 30px 0 250px 0;
     line-height: 50px;
}

.aboutMe .softskills {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 100px 0;
}

.softskills li {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #e4e4e4;
     padding: 50px;
     border-radius: 8px;
     margin: 30px;
     font-size: 2rem;
     flex-basis: calc(100% / 3);
}

.softskills .passione {
     color: red;
     text-shadow: 2px 2px 8px red;
     transition: all 0.5s linear;
}

.passione:hover {
     background-color: #FF0000;
     color: white;
     text-shadow: 2px 2px 8px black;
}

.softskills .creativita {
     color: #ffc244;
     text-shadow: 2px 2px 8px #ffc244;
     transition: all 0.5s linear;
}

.creativita:hover {
     background-color: #ffc244;
     color: white;
     text-shadow: 2px 2px 8px black;
}

.softskills .determinazione {
     color: #00a082;
     text-shadow: 2px 2px 8px #00a082;
     transition: all 0.5s linear;
} 

.determinazione:hover {
     background-color:  #00a082;
     color: white;
     text-shadow: 2px 2px 8px black;
}

