<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com"> 
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
     <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
     <link rel="stylesheet" href="css/style.css">
     <script src="js/script.js"></script>
     <title>Document</title>
</head>
<body>
     <div id="app">

          <header>
               <img src="img/logo.png" alt="">

               <ul>
                    <li>
                         <a href="#aboutMe">
                              About me
                         </a>
                    </li>

                    <li>
                         <a href="#skills">
                              My Skills
                         </a>
                    </li>

                    <li>
                         <a href="#myworks">
                              My Works
                         </a>
                    </li>

                    <li>
                         <a href="">
                              Contacts
                         </a>
                    </li>
               </ul>

          </header>

          <main>
               <section class="hello"></section>

               <section class="alessandro">
                    <div>
                         <h1>I'm Alessandro Venti</h1>
                         <h2>Junior Front-end Web Developer.</h2>
                    </div>
               </section>

               <section id="aboutMe">
                    <h1>About me</h1>
                    <div>
                         <p>Appassionato dalla scrittura e dalla tecnologia web, con particolare accento al design e al fantastico mondo della programmazione front-end. <br> 
                              Amo gli stimoli, voglio lasciare sempre qualcosa di mio in ogni layout. <br>
                              È sempre una sfida continua: la programmazione mi sta insegnando a non abbattermi, spronandomi a migliorare sempre di più, giorno dopo giorno.
                         </p>
                    </div>
                    <h1>My softskills</h1>
                    <ul class="softskills">
                         <li v-for="(softskill, index) in softskills" :class="softskillInput == index ? 'softskillActive' : '' " @click="showSoftskills(index)">
                              {{softskill}}
                         </li>
                    </ul>
                    <div v-if="softskillInput == 0">
                         <p>Mi piace scrivere: mi aiuta a mettere in ordine, capire e decodificare quello che la mia mente sta immaginando. <br>
                            Scrivere un testo e scrivere del codice non sono azioni così diverse: non provo stanchezza, ma piacere nel farlo. <br>
                            Quando scrivo penso sempre a chi leggerà il mio codice: mi impegno a usare gli elementi migliori e semanticamente più adatti.
                         </p>
                    </div>
                    <div v-else-if="softskillInput == 1">
                         <p>Sono un perfezionista: voglio sempre che il risultato sia perfetto, non eccellente. <br>
                            Quando un layout, o un concetto logico, non mi trasmette completa soddisfazione non mi accontento: riprovo e riprovo, finchè non raggiungo la mia personale approvazione. <br>
                            Quando scrivo codice sono molto determinato: voglio che il risultato finale sia corretto e non mi faccio buttare a terra dagli imprevisti.
                         </p>
                    </div>
                    <div v-if="softskillInput == 2">
                         <p>Amo tutto ciò che è creativo: mi fa sentire originale. <br>
                            Adoro creare storie e adoro creare layouts, ponendo attenzione nel raggiungere un equilibrio finale. <br>
                            Mi piace provare sia design colorati e stravaganti , che design puliti e minimali: la programmazione Front-end mi fa sentire libero di poter mettere in atto qualsiasi idea. 
                         </p>
                    </div>
               </section>

               <section id="skills">
                    <h1>My Skills</h1>
                    <ul>
                         <li v-for="(skill, skillIndex) in skills">
                              <h2>{{skill}}</h2>
                              <img :src="skillImage + skill + '.png' " alt="">
                         </li>
                    </ul>
               </section>

               <section id="myworks">
                    <h1>My works</h1>
                    <ul>
                         <li>
                              <a href="">
                                   <img src="img/proj.png" alt="">
                              </a>
                         </li>

                         <li> 
                              <a href=" https://alessandroventi.github.io/vue-boolzapp/ ">
                                   <img src="img/boolzapp.png" alt="">
                              </a>         
                         </li>

                         <li>                             
                              <img src="img/boolflix.png" alt="">
                         </li>

                         <li>                              
                              <img src="img/DeliverBoo1.png" alt="">
                         </li>

                         <li>                              
                              <img src="img/DeliverBoo2.png" alt="">
                         </li>

                         <li>                              
                              <img src="img/DeliverBoo3.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/Spotify.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/digitalOcean1.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/DigitalOcean2.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/Hubspot1.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/Hubspot2.png" alt="">
                         </li>

                         <li>                             
                              <img src="img/Hubspot3.png" alt="">
                         </li>
                    </ul>
               </section>

               <footer id="contacts">
                    <ul>
                         <li>
                              <h2>Email</h2>
                              <h3>alessandro.venti@icloud.com</h3>
                         </li>

                         <li>
                              <h2>Telefono</h2>
                              <h3>333 244 7128</h3>
                         </li>

                         <li>
                              <h2>GitHub</h2>
                              <h3>AlessandroVenti</h3>
                         </li>

                         <li>
                              <h2>LinkedIn</h2>
                              <h3>@AlessandroVenti</h3>
                         </li>
                    </ul>
               </footer>
          </main>

     </div>
     
</body>
</html>