<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com"> 
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
     <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
     <link rel="stylesheet" href="css/style.css">
     <script src="js/script.js"></script>
     <title>Document</title>
</head>
<body>
     <div id="app">

          <header>
               <div class="logo">
                    <img src="img/logo.png" alt="">
               </div>

               <ul>

                    <li>
                         <a href="#about-me">
                              About me
                         </a>
                    </li>

                    <li>
                         <a href="#softskills">
                              Softskills
                         </a>
                    </li>

                    <li>
                         <a href="#skills">
                              Skills
                         </a>
                    </li>

                    <li>
                         <a href="#works">
                              Works
                         </a>
                    </li>

                    <li>
                         <a href="">
                              Contacts
                         </a>
                    </li>

                    <li class="hamburger"> 
                         <button @click="showHamburger" :class="hamburgerFlag ? 'pressed' : '' ">
                              <div :class="hamburgerFlag ? 'line1' : '' "></div>
                              <div :class="hamburgerFlag ? 'line2' : '' "></div>
                              <div :class="hamburgerFlag ? 'line3' : '' "></div>
                         </button>
                    </li>
               </ul>

               <ul :class="hamburgerFlag ? 'dropdown' : '' ">
                    <li>
                         <a href="#about-me">
                              About me
                         </a>
                    </li>

                    <li>
                         <a href="#softskills">
                              Softskills
                         </a>
                    </li>

                    <li>
                         <a href="#skills">
                              Skills
                         </a>
                    </li>

                    <li>
                         <a href="#works">
                              Works
                         </a>
                    </li>

                    <li>
                         <a href="">
                              Contacts
                         </a>
                    </li>
               </ul>
          </header>

          <main>
               
               <section class="hello">
                    <h1>Hello.</h1>
               </section>

               <section id="about-me">
                    <div class="me">
                         <div>
                              <img src="img/ale 2.png" alt="">
                         </div>

                         <div>
                              <h2>Alessandro Venti</h2>
                         </div>
                    </div>

                    <h1>Junior Front-End Web
                         <span>Developer</span>
                    </h1>

                    <p>Appassionato dalla scrittura e dalla tecnologia web, con particolare accento al design e al fantastico mondo della programmazione front-end. 
                         Amo gli stimoli, voglio lasciare sempre qualcosa di mio in ogni layout. 
                         È sempre una sfida continua: la programmazione mi sta insegnando a non abbattermi, spronandomi a migliorare sempre di più, giorno dopo giorno.
                    </p>
               </section>

               <section id="what-love">
                    <div class="love-text">
                         <h2>What i <span>Love</span></h2>
                    </div>

                    <div class="love-image">
                         <img title="https://it.pngtree.com/so/creativit%C3%A0" src="img/cuffie.png" alt="">
                    </div>

                    <div class="love-badge">
                         <div>
                              <div>
                                   <div></div>
                              </div>

                              <div>
                                   <h2>Design</h2>
                              </div>
                         </div>

                         <div>
                              <div>
                                   <div></div>
                              </div>

                              <div>
                                   <h2>Codice Front-End</h2>
                              </div>
                         </div>
                    </div>
               </section>

               <section id="softskills">
                    <div class="softskills-text">
                         <h2>My</h2>
                         <h2>Softskills</h2>
                    </div>

                    <div class="softskills-image">
                         <img title="https://it.pngtree.com/so/clipart-di-sole" src="img/sole.png" alt="">
                    </div>

                    <ul class="softskills-badge">
                         <li v-for="(softskill, softskillIndex) in softskills" @click="showSoftskills(softskillIndex)" :class="softskillInput == softskillIndex ? 'softskillActive' : '' ">
                              <h3>{{softskill}}</h3>
                         </li>
                    </ul>

                    <div class="softskills-paragraph">
                         <p v-if="softskillInput == 0">
                              Mi piace scrivere: mi aiuta a mettere in ordine, capire e decodificare quello che la mia mente sta immaginando. <br>
                              Scrivere un testo e scrivere del codice non sono azioni così diverse: non provo stanchezza, ma piacere nel farlo. <br>
                              Quando scrivo penso sempre a chi leggerà il mio codice: mi impegno a usare gli elementi migliori e semanticamente più adatti.
                         </p>

                         <p v-else-if="softskillInput == 1">
                              Mi ritengo un perfezionista: voglio sempre che l'effetto finale sia perfetto. <br>
                              Quando un layout, o un concetto logico, non mi trasmette completa soddisfazione non mi accontento: riprovo e riprovo, finchè non raggiungo la mia personale approvazione. <br>
                              Quando scrivo codice sono molto determinato: voglio che il risultato complessivo sia corretto e non mi faccio sconfiggere dagli imprevisti.
                         </p>

                         <p v-else-if="softskillInput == 2">
                              Amo tutto ciò che è creativo: mi fa sentire originale. <br>
                              Adoro creare storie e adoro creare layouts, ponendo attenzione nel raggiungere un equilibrio finale. <br>
                              Mi piace provare sia design colorati e stravaganti , che design puliti e minimali: la programmazione Front-end mi fa sentire libero di poter mettere in atto qualsiasi idea.
                         </p>
                    </div>
               </section>

               <section id="skills">
                    <div class="skills-text">
                         <h2>My</h2>
                         <h2>Skills</h2>
                    </div>

                    <div class="skills-image">
                         <img src="img/skills.png" alt="">
                    </div>

                    <div class="white-space"></div>

                    <ul class="skills-badge1">
                         <li v-for="skill1 in skills1">
                              <h3>{{skill1}}</h3>
                              <img :src="skillImage + skill1 + '.png' " alt="">
                         </li>
                    </ul>

                    <ul class="skills-badge2">
                         <li v-for="skill2 in skills2">
                              <h3>{{skill2}}</h3>
                              <img :src="skillImage + skill2 + '.png' " alt="">
                         </li>
                    </ul>
               </section>

               <section id="works">
                    <div class="works-text">
                         <h2>My</h2>
                         <h2>Works</h2>
                    </div> 
                    
                    <div class="works-image">
                         <img src="img/works.png" alt="">
                    </div>

                    <div class="works-badge">

                         <img src="img/freccia.png" alt="">

                         <ul>
                              <li>
                                   <img src="img/boolzapp.png" alt="">
                              </li>

                              <li>
                                   <img src="img/proj.png" alt="">
                              </li>

                              <li>
                                   <img src="img/boolflix.png" alt="">
                              </li>

                              <li>
                                   <img src="img/Spotify.png" alt="">
                              </li>

                              <li>
                                   <img src="img/DeliverBoo1.png" alt="">
                              </li>

                              <li>
                                   <img src="img/DeliverBoo2.png" alt="">
                              </li>

                              <li>
                                   <img src="img/DeliverBoo3.png" alt="">
                              </li>

                              <li>
                                   <img src="img/digitalOcean1.png" alt="">
                              </li>

                              <li>
                                   <img src="img/DigitalOcean2.png" alt="">
                              </li>

                              <li>
                                   <img src="img/Hubspot1.png" alt="">
                              </li>

                              <li>
                                   <img src="img/Hubspot2.png" alt="">
                              </li>

                              <li>
                                   <img src="img/Hubspot3.png" alt="">
                              </li>
                         </ul>
                    </div>
               </section>
               
          </main>

          <footer>
               
          </footer>
     </div>     
</body>
</html>